.menu{
    display: none;
}
.logo{
    width:100px;
    

}
nav{
    display: flex;
}
.navbar-left ul,
.navbar-right ul{
    
    list-style: none;
    padding:0;
    margin-top: 24px;
    text-decoration: none;
    display: flex;
    align-items: center;
    
}
.navbar-left{
    margin-left: 24px;
    display: flex;
}
.navbar-left a,
.navbar-right a{
    text-decoration: none;
    color:var(--very-light-pink);
    border:1px solid var(--white);
    padding:8px;
    border-radius: 12px;
    transition: 0.5s;
    margin:4px;
}
.navbar-left a:hover,
.navbar-right a:hover{
    color:var(--hospital-green);
    border:1px solid var(--hospital-green);
}
